language: python
dist: xenial
sudo: true
install:
  - sudo add-apt-repository -y ppa:ethereum/ethereum
  - sudo add-apt-repository -y ppa:deadsnakes/ppa
  - sudo apt-get update
  - sudo apt-get install -y python$TRAVIS_PYTHON_VERSION-dev npm solc
  - npm -g install ganache-cli
  - pip install -r requirements.txt
  - pip install tox-travis coveralls
matrix:
  include:
  - name: '3.6'
    python: 3.6
  - name: '3.7'
    python: 3.7
script:
  - ganache-cli
  - sleep 5
  - tox
after_success: if [ "${TRAVIS_PYTHON_VERSION}" == "3.7" ]; then coveralls; fi;